body {
    font-family: Arial;
    margin: 0;
  }

.header {
    padding: 30px;
    text-align: center;
    background-image:  
        linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
        url("panepistimio-makedonias-oikonomologos-prosopsi-small.jpg");
    background-repeat: no-repeat;
    background-size:  cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-size: 20px;
}

.content {
    padding:20px;
}


#par {
    padding: 15px;
    border: 2px double;
    width: 400px;
    margin: auto;
}

#result {
    border: 2px double;
    padding: 10px 100px 10px;
    float: right;
}

span.li {
    display: list-item;
    margin-left: 2em;
}

/* Grid container - small screens 
body {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "head"
        "navi"
        "main"
        "news"
        "info"
        "foot";
}

/* Medium screens 
@media all and (min-width: 600px) {
    body {
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "head head"
            "navi navi"
            "news main"
            "info foot";
    }
}

/* Large screens 
@media all and (min-width: 800px) {
    nav {
        justify-content: flex-start;
        flex-direction: column;
    }
    a { flex: 0; }
    
    body {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
            "head head head"
            "navi main news"
            "navi main info"
            "foot foot foot";
    }
} */